

.footer {
    padding:15px;
    letter-spacing: 0em !important;
}

.footer .advantage div{
    font-size: 1.15em;
    padding: 30px 35px;
    /*display: ;*/
}

.footer .des  div{
    color: #888;
    padding: 8px 5px;
    font-size: 0.5em;
}