
.news {
    /*padding-top: 10px;*/
}


.news .t_hot{

}

/*单个文章*/
.news .title{
    line-height: 26px;
    font-size: 1em;
}
/*单个文章*/
.news .title span{
    margin-right: 10px;
}
.news .title .select{
    font-weight: bolder;
}

.news .special{

}
.news .special .sub_title{
    line-height: 24px;
    font-size: 0.8em;
}
.news .special_title{
    line-height: 24px;
    font-size: 0.8em;
}
.news .special_content{

    max-height:60px;
    line-height: 15px;
    font-size: 0.75em;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:4;
    text-align: center;
}
.news .special_content label{
    margin: 0 5px;
}
.news .special_content span{
    color: #f6ab00;
}



.news .content{
    /*display: flex;*/
    /*justify-content: space-between;*/
    font-size: 0.75em;
    line-height: 25px;
}
.news .content label{
    /*flex-basis: 170px;*/
    float: left;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .content span{
    float: right;
}

/*中间栏*/
.news .t_hot .title{
    line-height: 30px;
    padding:2px 0 8px;
}
.news .mark{
    color:#fff;
    background-color:#f6ab00 ;
    padding: 3px 5px;
    margin: 5px;
}
.news .t_hot .content div{
    width: 250px;
    margin:0 12px;
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}







.news .ad{
    padding:15px;
}


.news .node {
    letter-spacing: 0em !important;
    height: 206px;
}
.news .w_1_3{
    width:378px ;
}
.news .space{
    /*width: 255px;*/
    margin: auto;
    padding: 10px;
}