




.xx_bound{
    width: 1180px;
    margin: auto;
}



.news {
    padding-top: 10px;
}

.news .left,.news .center,.news .right ,.news .hot{
    min-height: 206px;
}

.news .artilce{
    width: 255px;
    margin: auto;
    padding: 10px;
}

.news .title{
    line-height: 30px;
    font-size: 15pt;
    font-weight: bolder;
}
.news .content{
    display: flex;
    justify-content: space-between;

    font-size: 0.75em;
    line-height: 25px;
}
.news .content label{
    flex-basis: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.news .hot{
   width: 570px;
    margin: auto;
}

.news .hot .title{
    font-size: 1em;
    padding:15px 15px 5px;
}

.news .mark{
    color:#fff;
    background-color:#f6ab00 ;
    padding: 3px 5px;
    margin: 5px;
}
.news .hot .content{
    padding:5px 15px 15px;
}
.news .hot .content div{
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news .ad{
    padding:15px;
}


.news .node {
    letter-spacing: 0em !important;
    height: 206px;
}
.news .w_1_3{
    width:378px ;
}
.news .space{
    /*width: 255px;*/
    margin: auto;
    padding: 10px;
}