
.swiper{
    /*width: 1180px;*/
    /*padding-top: 5px;*/
}
.swiper .t_left{
    width: 220px;
}
.swiper .t_center{
    width: 670px;
    height: 407px;
    margin: 20px;

}
.swiper .t_right{
    width: 250px;
    height: 407px;
    margin-top: 20px;
    font-size: 0.75em;
    text-align: center;
}

/*×ó±ßÀ¸*/
.swiper  .node{
    position: relative;
    padding: 9px 0 8px 20px;
}

.swiper .title , .swiper .content{
    width: 120px;
    padding-left: 20px;
    font-size: 0.9em;
}
.swiper .title{
    color: #999;
    padding-bottom: 6px;
}

/*.swiper .node:hover{*/
    /*background-color: #f6ab00;*/
    /*color: #fff !important;*/
/*}*/

/*.swiper .node:hover .dialog{*/
.dialog{
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 220px;
    width: 960px;
    height: 427px;
    background-color: #fff;
    border-top:1px solid #DFDFDF;
    border-left:1px solid #DFDFDF;
    padding: 15px;
    font-size:0.75em;
}
.dialog .name{
    /*font-size:0.75em;*/
    font-weight: bolder;
}
.dialog .description {
    /*font-size:0.75em;*/
    height: 26px;
    line-height: 26px;
}
.dialog img{
    width: 23px;
    height: 23px;
}




/*ÓÒ±ßÀ¸*/
.swiper .hi{
    line-height: 48px;
}
.swiper .login,.swiper .register{
    display: inline-block;
    width: 103px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    border: 1px solid #f6ab00;
}
.swiper .login{
    background: #f6ab00;
    color: #fff;
    margin: 0 2px;
    border-radius: 5px;
}
.swiper .register{
    color: #f6ab00;
    border-radius: 5px;
}

.swiper .info{
    padding:20px 0;
}
.swiper .sell ,.swiper .buy{
    height: 28px;
    line-height: 28px;
    text-align: center;
    /*margin-bottom: 15px;*/
    border-top: 1px solid #E4E4E4;

}
.swiper .sell{
}
.swiper .buy{
    background: #eee;
    color: #999;
}
.swiper .article{
    padding-top:10px;
}

.swiper .icon .pure-u-1-3{
    padding-top:15px;
}

.swiper .icon div{
    padding-top:2px;
}




























