
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}
a, img {
    outline: 0;
}
.btns:hover, .btns_info:hover, a {
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f0f3ef ;
}
.xx_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.xx_box{
    width: 1180px;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.xx_end{
    justify-content: flex-end;
}
.xx_between{
    justify-content: space-between;
}

.xx_bg_white{
    background-color: #fff;
}