
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}
a, img {
    outline: 0;
    color: #000 ;
}
.btns:hover, .btns_info:hover, a {
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f0f3ef ;
    font-family: Arial,'Hiragino Sans GB',"Microsoft Yahei","Î¢ÈíÑÅºÚ",Tahoma,Helvetica,STHeiti;
}
.xx_bg_white{    background-color: #fff;}

.xx_pd_15{    padding:15px;}


.xx_mar_auto{    margin: auto;}
.xx_mar_20{    margin: 20px;}
.xx_mar_lr_20{    margin: 0 20px;}
.xx_mar_r_20{    margin-right: 20px;}
.xx_mar_t_20{    margin-top: 20px;}
.xx_mar_b_20{    margin-bottom:20px;}

.xx_border_gray{    border-top:1px solid #DFDFDF;}

.xx_w_1180{    width: 1180px;}
.xx_w_580{    width: 580px;}
.xx_w_380{    width: 380px;}
.xx_w_280{    width: 280px;}
.xx_h_206{    height: 206px;}
.xx_h_120{    height: 120px;}


